<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362903486955-0kq05h2bp6dao9io4589frcs9tsdqd8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362903486955-0kq05h2bp6dao9io4589frcs9tsdqd8a</string>
	<key>API_KEY</key>
	<string>AIzaSyD9xM7DJ1EwKOu_UD3Saf4LgnJhghgbXes</string>
	<key>GCM_SENDER_ID</key>
	<string>362903486955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-f7ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-f7ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362903486955:ios:84c620d7aba62447e519ae</string>
</dict>
</plist>